*{
  font-family: Arial, Helvetica, sans-serif;
}
.mainContainer{
  text-align: center;
  margin-top: 100px;
  width: 95%;
  margin: 0 auto;
  padding: 100px 0;
}
#container{
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 50px;
  justify-items: center;
  text-align: center;
  margin-top: 50px;
}
#displayIngredients{
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: left;
}
#displayIngredients img{
  width: 600px;
  height: 400px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#input{
  font-size: 18px;
  padding: 10px 50px;
}
#searchBtn{
  background-color:tomato;
  color: #f5f0f0;
  border: none;
  font-size: 18px;
  padding: 12px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#searchBtn:focus{
  outline: none;
}
.mealImg{
  width: 100%;
  height: 200px;
}
.remove{
  display: none;
}
.meal{
  box-shadow: 5px 5px 10px gray;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.meal img{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
h4{
  color: tomato;
}